//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.article,				                                  //  main
.block-editor-block-list__layout 									//  editor
{
	h1 {
		color: inherit;
		background-color: transparent;
	}

	h2 {
		margin-top: 100px;
		padding: 25px;

		color: $color-white;

		font-size: 24px;

		background-color: $color-green-dark;
		border-radius: $rounded-lg;

		@media screen and (max-width: 480px) {
			padding: 0.6em 0.8em;
			font-size: 20px;
		}
	}

	h3 {
		margin-top: 80px;
		padding: 12px 20px;

		color: inherit;

		font-size: 22px;

		border-left: 7px solid $color-green-dark;
		border-right: 1px solid $color-green-dark;
		border-top: 1px solid $color-green-dark;
		border-bottom: 1px solid $color-green-dark;

		@media screen and (max-width: 480px) {
			padding: 0.6em;
			font-size: 18px;
		}
	}

	h4 {
		margin-top: 50px;
		position: relative;
		background-color: transparent;
		padding: 9px 4px 9px 2em;
		border: none;

		font-size: 20px;

		background-image: linear-gradient(to right, $color-green-midium 0%, transparent 70%);
		background-repeat: no-repeat;
		background-size: 100% 5%;
		background-position: bottom;

		@media screen and (max-width: 480px) {
			padding: 0.6em 4px 0.6em 2em;
			font-size: 16px;
		}

		&:before {
			position: absolute;
			content: "";
			display: block;
			top: 47%;
			transform: translateY(-50%);
			left: 0.3em;
			width: 21px;
			height: 21px;
			background-color: $color-green-midium;
			border-radius: 50%;
		}
	}

	h5,
	h6 {
		margin-top: 50px;

		font-size: 20px;
		padding: 9px 10px;

		border-bottom: 2px dotted $color-green-midium;

		@media screen and (max-width: 480px) {
			padding: 0.6em;
			font-size: 16px;
		}
	}

	blockquote {
		color: inherit;
		background-color: rgba($color-black, 0.2);
		border: none;
		border-radius: $rounded-lg;

		&:before,
		&:after {
			color: inherit;
		}

		cite {
			color: inherit;
		}
	}

	pre {
		max-height: 800px;
		border-radius: $rounded-lg;
		overflow-x: scroll;
		overflow-y: scroll;

		padding-bottom: 1.5rem !important;

		code {
			white-space: pre;
			padding-bottom: 1.5rem;
		}
	}
}
