//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.entry-content,                                   //  main
.block-editor-block-list__layout {                //  editor
	h1 {
		color: inherit;
		background-color: transparent;
	}

	h2 {
		color: $color-white;
		background-color: $color-green-dark;
		border-radius: $rounded-2xl;
	}

	h3 {
		color: inherit;
		border-color: $color-green-dark;
	}

	h4 {
		position: relative;
		background-color: transparent;
		padding-right: 4px;
		padding-left: 2em;
		border: none;

		background-image: linear-gradient(to right, $color-green-midium 0%, transparent 70%);
		background-repeat: no-repeat;
		background-size: 100% 5%;
		background-position: bottom;

		&:before {
			position: absolute;
			content: "";
			display: block;
			top: 47%;
			transform: translateY(-50%);
			left: 0.3em;
			width: 21px;
			height: 21px;
			background-color: $color-green-midium;
			border-radius: 50%;
		}
	}

	h5,
	h6 {
		border-bottom: 2px dotted $color-green-midium;
	}

	blockquote {
		color: inherit;
		background-color: rgba($color-black, 0.2);
		border: none;
		border-radius: $rounded-2xl;

		&:before,
		&:after {
			color: inherit;
		}

		cite {
			color: inherit;
		}
	}

	pre {
		color: inherit;
		background-color: rgba($color-black, 0.2);
		border-radius: $rounded-2xl;
		overflow-x: scroll;
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
