/* common/content ------------------------------------------------------ */
.entry-content h1,
.block-editor-block-list__layout h1 {
  color: inherit;
  background-color: transparent; }

.entry-content h2,
.block-editor-block-list__layout h2 {
  color: #f5f3f2;
  background-color: rgba(80, 111, 52, 0.7);
  border-radius: 1rem; }

.entry-content h3,
.block-editor-block-list__layout h3 {
  color: inherit;
  border-color: rgba(80, 111, 52, 0.7); }

.entry-content h4,
.block-editor-block-list__layout h4 {
  position: relative;
  background-color: transparent;
  padding-right: 4px;
  padding-left: 2em;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(80, 111, 52, 0.5)), color-stop(70%, transparent));
  background-image: -webkit-linear-gradient(left, rgba(80, 111, 52, 0.5) 0%, transparent 70%);
  background-image: linear-gradient(to right, rgba(80, 111, 52, 0.5) 0%, transparent 70%);
  background-repeat: no-repeat;
  background-size: 100% 5%;
  background-position: bottom; }
  .entry-content h4:before,
  .block-editor-block-list__layout h4:before {
    position: absolute;
    content: "";
    display: block;
    top: 47%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0.3em;
    width: 21px;
    height: 21px;
    background-color: rgba(80, 111, 52, 0.5);
    border-radius: 50%; }

.entry-content h5,
.entry-content h6,
.block-editor-block-list__layout h5,
.block-editor-block-list__layout h6 {
  border-bottom: 2px dotted rgba(80, 111, 52, 0.5); }

.entry-content blockquote,
.block-editor-block-list__layout blockquote {
  color: inherit;
  background-color: rgba(86, 89, 86, 0.2);
  border: none;
  border-radius: 1rem; }
  .entry-content blockquote:before, .entry-content blockquote:after,
  .block-editor-block-list__layout blockquote:before,
  .block-editor-block-list__layout blockquote:after {
    color: inherit; }
  .entry-content blockquote cite,
  .block-editor-block-list__layout blockquote cite {
    color: inherit; }

.entry-content pre,
.block-editor-block-list__layout pre {
  color: inherit;
  background-color: rgba(86, 89, 86, 0.2);
  border-radius: 1rem;
  overflow-x: scroll; }

/* editor/base---------------------------------------------------------- */
.body.article {
  padding-bottom: 100px;
  color: #565956;
  background-color: #f5f3f2; }

.editor-post-title__block .editor-post-title__input {
  color: inherit; }
  .editor-post-title__block .editor-post-title__input::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5; }
  .editor-post-title__block .editor-post-title__input::-moz-placeholder {
    color: inherit;
    opacity: 0.5; }
  .editor-post-title__block .editor-post-title__input:-ms-input-placeholder {
    color: inherit;
    opacity: 0.5; }
  .editor-post-title__block .editor-post-title__input::-ms-input-placeholder {
    color: inherit;
    opacity: 0.5; }
  .editor-post-title__block .editor-post-title__input::placeholder {
    color: inherit;
    opacity: 0.5; }

.block-editor-block-list__block.is-selected {
  color: inherit;
  background-color: rgba(43, 50, 49, 0.1); }

.block-editor-default-block-appender__content {
  color: inherit !important;
  opacity: 0.5; }
