//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* blogcard ------------------------------------------------------------ */
.blogcard-type {
	margin-bottom: 60px !important;

	.blogcard-wrap {
		border-radius: g.$rounded-2xl;

		.blogcard {
			color: g.$color-white;
			background-color: g.$color-gray-dark;
			border-radius: g.$rounded-2xl;
			border: none;
			transition: all 0.25s;
			box-shadow: g.$shadow-2xl;

			&:hover {
				color: g.$color-white;
				background-color: g.$color-green-dark;

				outline: none;
			}

			.blogcard-thumb-image {
				border-radius: g.$rounded-2xl;
			}
		}
	}
}
