//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../00-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* calendar ------------------------------------------------------------ */
#wp-calendar,
#slide-in-wp-calendar {
	caption {
		color: g.$color-white;
		border-color: g.$color-green-dark;
		background-color: g.$color-gray-dark;
	}

	thead {
		tr {
			th {
				color: g.$color-white;
				border-color: g.$color-green-dark;
				background-color: g.$color-gray-dark;
			}
		}
	}

	tbody {
		tr {
			td {
				color: g.$color-black;
				border-color: g.$color-green-dark;

				a {
					border-radius: 0;
					color: g.$color-black;
				}

				&#today,
				&#today a {
					color: g.$color-black;
				}
			}
		}
	}

	tfoot {
		display: none;
	}
}
