//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../00-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* cat-link ------------------------------------------------------------ */
.cat-link {
	background-color: g.$color-black;
	border-radius: g.$rounded-2xl;
	transition: all 0.25s;

	&:hover {
		color: g.$color-white;
		opacity: 0.7;
	}
}
