//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "sass:color";
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
div.hcb_wrap {
	
	.hcb-clipboard {
		display: none;
	}
	
	pre {
		border-radius: 4px;

		&:before {
			color: g.$color-white;
			font-weight: bold;
		}
	}

	div.code-toolbar {
		.toolbar a,
		.toolbar button,
		.toolbar span {
			padding: 0 ;
			color: g.$color-white ;
			background-color: g.$color-gray-dark ;
			border-radius: g.$rounded-2xl ;
			box-shadow: none ;
		}
	
		.toolbar {
			position: absolute;
			opacity: 1 ;
			top: -1.9em ;
			right: 0 ;
	
			span {
				display: block;
	
				padding: 0.25rem 0.5rem ;
				border-radius: g.$rounded-lg ;
				cursor: pointer;
				transition: all 0.25s;
	
				&:hover {
					color: g.$color-white ;
					background-color: g.$color-green-dark ;
					box-shadow: g.$shadow-2xl ;
				}
			}
		}
	}
}

