//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* header-container ---------------------------------------------------- */
#header-container {
	background-color: g.$color-gray-dark;
	box-shadow: g.$shadow-2xl;

	.tagline {
		color: g.$color-white;
	}

	.site-name-text {
		color: g.$color-white;
	}

	.hlt-top-menu,
	.hlt-center-logo {
		background-color: g.$color-gray-dark;
	}
}
