//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#header-container {
	background-color: $color-gray-dark;
	box-shadow: $shadow-2xl;

	.tagline {
		color: $color-white;
	}

	.site-name-text {
		color: $color-white;
	}

	.hlt-top-menu,
	.hlt-center-logo {
		background-color: $color-gray-dark;
	}
}
