//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#list,
#list-wrap {
	&.ecb-entry-border {
		margin-bottom: 1em;

		a {
			border-top: solid 1px g.$color-gray-dark;
			margin-bottom: 0;
			border-radius: 0;

			&:nth-last-child(1) {
				border-bottom: solid 1px g.$color-gray-dark;
			}
		}
	}

	.entry-card-wrap {
		border: none;
		color: inherit;
		border-radius: g.$rounded-lg;
		margin-bottom: 1em;
		transition: all 0.25s;

		&:hover {
			background-color: g.$color-hover;
			box-shadow: g.$shadow-2xl;
		}
	}

	.entry-card-thumb img {
		border-radius: g.$rounded-lg;
		background-size: cover;
		max-height: 170px;
	}
}
