//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.list-more-button {
	color: $color-white;
	background-color: $color-gray-dark;
	border-radius: $rounded-2xl;
	border: none;

	&:hover {
		transition: all 0.25s;

		color: $color-white;
		background-color: $color-green-dark;

		box-shadow: $shadow-2xl;
	}
}
