//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.mobile-menu-buttons {
	background-color: $color-gray-dark;

	.menu-button {
		&:hover {
			background-color: $color-gray-dark;
		}

		.menu-button-in {
			color: $color-white;
		}
	}

	.navi-menu-button {
		.navi-menu-content {
			background-color: $color-white;

			a {
				color: $color-gray-dark;
				margin: 0.5em 0 0.5em 0;
				border-bottom: solid $color-gray-dark 1px;

				&:hover {
					background-color: $color-white;
				}
			}

			.fa {
				color: $color-gray-dark;
			}
		}
	}

	.search-menu-button {
		.search-edit {
			border-width: 0 0 2px 0;
			border-radius: 4px;
			border-bottom: 2px solid $color-gray-dark;
			background-color: $color-body;
		}

		.search-submit {
			color: $color-gray-dark;
		}
	}
}
