//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#navi,
#navi-footer {
	background-color: $color-gray-dark;

	.navi-in,
	.navi-footer-in {
		a {
			position: relative;
			color: $color-white;
			transition: all 0.25s;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				opacity: 0;
				background-color: $color-green-dark;

				transform: scale(0, 1);
				transition: all 0.25s;
			}

			&:hover {
				color: $color-white;
				background-color: inherit;

				&::after {
					opacity: 0.5;
					transform: scale(1, 1);
				}
			}
		}

		.sub-menu {
			background-color: $color-gray-dark;
			color: $color-white;
		}

		.fa-angle-down {
			color: $color-white;

			&:hover {
				color: $color-white;
			}
		}
	}
}
