//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.pagination-previous-link,
.pagination-next-link {
	color: $color-white;
	background-color: $color-gray-dark;
	border: none;
	border-radius: $rounded-2xl;

	&:hover {
		color: $color-white;
		background-color: $color-green-dark;
		transition: all 0.25s;
	}
}

.pagination {
	.page-numbers {
		color: $color-white;
		border: none;
		border-radius: 4px;
		background-color: $color-gray-dark;
		transition: all 0.25s;
	}

	.dots,
	.current {
		opacity: 0.7;
	}

	a {
		color: $color-white;
		border: none;
		border-radius: 4px;
		background-color: $color-gray-dark;

		&:hover {
			color: $color-white;
			background-color: $color-green-dark;
			transition: all 0.25s;
		}
	}
}
