//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#pager-post-navi {
	&.post-navi-border {
		a {
			border-top: solid $color-gray-dark 1px;
			border-bottom: solid $color-gray-dark 1px;
		}

		.prev-post ~ .next-post {
			border-top: none;
		}
	}

	.prev-post,
	.next-post {
		color: $color-white;
		background-color: $color-gray-dark;
		border-radius: $rounded-2xl;
		transition: all 0.25s;

		&:hover {
			box-shadow: $shadow-2xl;
		}

		.fa {
			color: $color-white;
		}
	}

	.prev-post {
		&:hover {
			background-color: $color-green-dark;
		}
	}

	.next-post {
		margin-top: 20px;

		&:hover {
			background-color: $color-green-dark;
		}
	}

	.prev-post-thumb,
	.next-post-thumb {
		img {
			border-radius: $rounded-2xl;
			max-height: 60px;
			background-size: cover;
		}
	}
}
