//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#related-entries {
	&.recb-entry-border {
		a {
			border: none;
			border-top: solid g.$color-gray-dark 1px;
			border-radius: 0;

			&:nth-last-child(1) {
				border-bottom: solid g.$color-gray-dark 1px;
			}
		}
	}

	.related-entry-heading {
		margin: 25px 0 25px 0;
		padding: 1rem 1.5rem;

		color: g.$color-white;
		background-color: g.$color-gray-dark;
		border-radius: g.$rounded-lg;

		&:before {
			font-family: "FontAwesome";
			content: "\f064";
			opacity: 0.8;
		}
	}

	.related-entry-card-wrap {
		margin: 0;

		color: inherit;
		background-color: transparent;
		border-radius: g.$rounded-lg;
		transition: all 0.25s;

		&:hover {
			background-color: g.$color-hover;
			box-shadow: g.$shadow-2xl;
		}

		.related-entry-card-thumb img {
			border-radius: g.$rounded-lg;
			max-height: 85px;
			background-size: cover;
		}
	}
}
