//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "sass:color";
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.tag-link {
	color: inherit;
	background-color: g.$color-white;
	border: 1px solid color.scale(rgba(g.$color-black, 0), $alpha: 50%);
	border-radius: g.$rounded-2xl;
	transition: all 0.25s;

	&:hover {
		background-color: g.$color-hover;
	}
}
