//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../00-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* toc ----------------------------------------------------------------- */
.toc {
	margin: 0;
	width: 100%;
	padding: 0;
	border-color: g.$color-gray-dark;
	border-radius: g.$rounded-2xl;

	.toc-title {
		padding: 0;
		color: g.$color-white;
		background-color: g.$color-gray-dark;
		border-top-left-radius: g.$rounded-2xl;
		border-top-right-radius: g.$rounded-2xl;
		transition: all 0.25s;

		&::after {
			color: g.$color-white;
			text-decoration: none;
		}

		&:hover {
			background-color: g.$color-green-dark;
		}
	}

	.toc-content {
		padding: 1em;
		transition: all 0.2s;

		.toc-list {
			margin: 0 1em;

			li {
				margin: 0;

				a {
					color: inherit;

					&:hover {
						text-decoration: underline;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}
