//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "sass:color";
@use "../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.edit-post-visual-editor__post-title-wrapper {
	color: inherit;
	background-color: $color-white;

	border-radius: $rounded-2xl;
	box-shadow: $shadow-2xl;

	.editor-post-title__block {
		.editor-post-title__input {
			min-height: 200px;

			color: inherit;

			&::placeholder {
				color: inherit;
				opacity: 0.5;
			}

			&:focus {
				background-color: color.scale(rgba($color-body, 0), $alpha: 10%);
			}
		}
	}
}
