//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.entry-content,                                   //  main
.block-editor-block-list__layout 									//  editor
{
	h1 {
		color: inherit;
		background-color: transparent;
	}

	h2 {
		margin-top: 100px;
		color: g.$color-white;
		background-color: g.$color-green-dark;
		border-radius: g.$rounded-lg;
	}

	h3 {
		margin-top: 80px;
		color: inherit;
		border-color: g.$color-green-dark;
	}

	h4 {
		margin-top: 50px;
		position: relative;
		background-color: transparent;
		padding-right: 4px;
		padding-left: 2em;
		border: none;

		background-image: linear-gradient(to right, g.$color-green-midium 0%, transparent 70%);
		background-repeat: no-repeat;
		background-size: 100% 5%;
		background-position: bottom;

		&:before {
			position: absolute;
			content: "";
			display: block;
			top: 47%;
			transform: translateY(-50%);
			left: 0.3em;
			width: 21px;
			height: 21px;
			background-color: g.$color-green-midium;
			border-radius: 50%;
		}
	}

	h5,
	h6 {
		margin-top: 50px;
		border-bottom: 2px dotted g.$color-green-midium;
	}

	blockquote {
		color: inherit;
		background-color: rgba(g.$color-black, 0.2);
		border: none;
		border-radius: g.$rounded-lg;

		&:before,
		&:after {
			color: inherit;
		}

		cite {
			color: inherit;
		}
	}

	pre {
		max-height: 800px;
		border-radius: g.$rounded-lg;
		overflow-x: scroll;
		overflow-y: scroll;

		padding-bottom: 1.5rem !important;

		code {
			white-space: pre;
			padding-bottom: 1.5rem;
		}
	}
}
