//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* blogcard ------------------------------------------------------------ */
.blogcard-wrap {
	border-radius: $rounded-2xl;

	.blogcard {
		color: $color-white;
		background-color: $color-gray-dark;
		border-radius: $rounded-2xl;
		border: none;
		transition: all 0.25s;
		box-shadow: $shadow-2xl;

		&:hover {
			color: $color-white;
			background-color: $color-green-dark;

			outline: none;
		}

		.blogcard-thumb-image {
			border-radius: $rounded-2xl;
		}
	}
}
