//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#comment-area {
	.reply {
		a {
			border: none;
			color: $color-white;
			background-color: $color-gray-dark;
		}
	}
}

#comment-reply-btn {
	color: $color-white;
	background-color: $color-gray-dark;
	border-radius: 4px;
	border: none;
}

#comment,
#author,
#email,
#url {
	border: none;
	border-bottom: 2px solid $color-gray-dark;
	border-radius: 0;

	&:focus {
		background-color: $color-hover;
		transition: all 0.25s;
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
