//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* entry-header -------------------------------------------------------- */
.entry-header {
	h1 {
		position: relative;
		padding: 1em 1.5em;
		margin-top: 0;
		margin-bottom: 15px;

		color: inherit;

		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
		}

		&:before {
			border-left: 2px solid $color-black;
			border-top: 2px solid $color-black;
			top: 0;
			left: 0;
		}

		&:after {
			border-right: 2px solid $color-black;
			border-bottom: 2px solid $color-black;
			bottom: 0;
			right: 0;
		}
	}
}
