//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* go-to-top-button ---------------------------------------------------- */
.go-to-top-button {
	width: 56px;
	height: 56px;
	background-color: $color-green-dark;
	border-radius: 50%;

	span {
		color: $color-white;
	}

	&:hover {
		span {
			transform: scale(1.1);
			transition: all 0.25s;
		}
	}
}
