//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#main {
	background-color: $color-main;
	border-radius: $rounded-2xl;
	box-shadow: $shadow-2xl;

	#list {
		&.ecb-entry-border {
			margin-bottom: 1em;

			a {
				border-top: solid 1px $color-gray-dark;
				margin-bottom: 0;
				border-radius: 0;

				&:nth-last-child(1) {
					border-bottom: solid 1px $color-gray-dark;
				}
			}
		}

		.entry-card-wrap {
			border: none;
			color: $color-black;
			border-radius: $rounded-2xl;
			margin-bottom: 1em;
			transition: all 0.25s;

			&:hover {
				background-color: $color-hover;
				box-shadow: $shadow-2xl;
			}
		}

		.entry-card-thumb img {
			border-radius: $rounded-2xl;
		}
	}

	.cat-label {
		top: 0;
		left: 0;
		bottom: auto;
		right: auto;
		border: none;
		border-radius: $rounded-2xl;
	}

	.article {
		.blogcard {
			border: solid $color-gray-dark 1px;
			transition: all 0.25s;

			&:hover {
				background-color: $color-hover;
			}
		}
	}

	.post-password-form {
		input[type="password"] {
			border-radius: 0;
			border: none;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-bottom: solid $color-gray-dark 1px;
			background-color: transparent;

			&:focus {
				transition: all 0.25s;
				background-color: $color-hover;
			}
		}

		input[type="submit"] {
			margin: 1em 0;
			display: inline-block;
			background-color: $color-gray-dark;
			border: none;
			border-radius: 4px;
			color: $color-white;
		}
	}

	.pagination-previous-link,
	.pagination-next-link {
		color: $color-white;
		background-color: $color-gray-dark;
		border: none;
		border-radius: 4px;
		transition: all 0.25s;

		&:hover {
			background-color: $color-green-dark;
		}
	}

	.pagination {
		> span {
			color: $color-white;
			border: none;
			border-radius: 4px;
			background-color: $color-gray-dark;
			transition: all 0.25s;
		}

		.page-numbers.current {
			opacity: 0.7;
		}

		a {
			color: $color-white;
			border: none;
			border-radius: 4px;
			background-color: $color-gray-dark;
			transition: all 0.25s;

			&:hover {
				background-color: $color-green-dark;
			}
		}
	}

	.entry-header {
		h1 {
			&.entry-title,
			&.archive-title {
				position: relative;
				padding: 1em 1.5em;
				margin-top: 0;
				margin-bottom: 15px;

				&:before,
				&:after {
					content: "";
					position: absolute;
					width: 30px;
					height: 30px;
				}

				&:before {
					border-left: 2px solid $color-black;
					border-top: 2px solid $color-black;
					top: 0;
					left: 0;
				}

				&:after {
					border-right: 2px solid $color-black;
					border-bottom: 2px solid $color-black;
					bottom: 0;
					right: 0;
				}
			}
		}
	}

	.entry-content {
		h2 {
			color: $color-white;
			background-color: $color-green-dark;
			border-radius: $rounded-2xl;
		}

		h3 {
			border-color: $color-green-dark;
		}

		h4 {
			position: relative;
			background-color: transparent;
			padding-right: 4px;
			padding-left: 2em;
			border: none;

			background-image: linear-gradient(to right, $color-green-dark 0%, transparent 70%);
			background-repeat: no-repeat;
			background-size: 100% 5%;
			background-position: bottom;

			&:before {
				position: absolute;
				content: "";
				display: block;
				top: 47%;
				transform: translateY(-50%);
				left: 0.3em;
				width: 21px;
				height: 21px;
				background-color: $color-green-dark;
				border-radius: 50%;
			}
		}

		h5,
		h6 {
			border-bottom: 2px dotted $color-green-dark;
		}
	}

	.wp-block-quote {
		border: solid $color-gray-dark 1px;
		background-color: $color-body;

		&::before,
		&::after {
			color: $color-gray-dark;
		}

		cite {
			color: $color-gray-dark;
		}

		button {
			background-color: $color-gray-dark;
		}
	}

	.wp-block-calendar {
		#wp-calendar {
			caption {
				color: $color-white;
				border-color: $color-green-dark;
				background-color: $color-gray-dark;
			}

			thead {
				tr {
					th {
						color: $color-white;
						border-color: $color-green-dark;
						background-color: $color-gray-dark;
					}
				}
			}

			tbody {
				tr {
					td {
						color: $color-black;
						border-color: $color-green-dark;
						background-color: $color-gray-light;

						a {
							border-radius: 0;
							background-color: $color-gray-light;
							color: $color-black;
						}

						&#today {
							background-color: $color-gray-dark;
							color: $color-white;
							a {
								background-color: $color-gray-dark;
								color: $color-white;
							}
						}
					}
				}
			}

			tfoot {
				display: none;
			}
		}
	}

	.wp-block-archives {
		select {
			border: solid $color-gray-dark 1px;
			background-color: $color-body;
		}
	}

	.wp-block-categories {
		select {
			border: solid $color-gray-dark 1px;
			background-color: $color-body;
		}
	}

	.wp-block-search {
		display: flex;
		flex-direction: row;

		input {
			width: auto;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: solid $color-gray-dark 2px;

			&:focus {
				background-color: $color-hover;
				transition: all 0.25s;
			}
		}

		button {
			display: inline-block;
			padding: 1em 2em;
			background-color: $color-gray-dark;
			border: none;
			color: $color-white;
			border-top-right-radius: 4px;
			border-top-left-radius: 4px;
		}
	}

	.wp-block-tag-cloud {
		a {
			text-decoration: none;
			border-radius: 4px;
			color: $color-black;

			&:hover {
				background-color: $color-hover;
				transition: all 0.25s;
			}

			.fa-tag {
				color: $color-gray-dark;
			}
		}
	}

	.page {
		.sns-share,
		.sns-follow {
			display: none;
		}
	}

	.cat-link {
		background-color: $color-black;
		border-radius: $rounded-2xl;
		transition: all 0.25s;

		&:hover{
			color: $color-white;
			opacity:0.7;
		}
	}

	.tag-link {
		color: $color-black;
		background-color: $color-white;
		border-radius: $rounded-2xl;
		transition: all 0.25s;

		&:hover{
			background-color: $color-hover;
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
