//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#navi {
	background-color: $color-gray-dark;


	a {
		&:hover {
			background-color: $color-green-dark;
		}
	}

	.sub-menu {
		background-color: $color-gray-dark;
		color: $color-white;
	}
}

#navi {
	a {
		position: relative;
		color: $color-white;

		&::after {
			position: absolute;
			content: "";
			top: auto;
			left: 0;
			bottom: 0;
			right: auto;
			width: 100%;
			height: 1px;
			background-color: $color-white;

			transform: scale(0, 1);
			transform-origin: center top;
			transition: transform 0.2s;
		}

		&:hover {
			&::after {
				transform: scale(1, 1);
			}
		}
	}

	.fa-angle-down {
		color: $color-white;

		&:hover {
			color: $color-white;
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
