//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#pager-post-navi {
	&.post-navi-border {
		a {
			border-top: solid $color-gray-dark 1px;
			border-bottom: solid $color-gray-dark 1px;
		}

		.prev-post ~ .next-post {
			border-top: none;
		}
	}

	.prev-post,.next-post {
		border-radius: $rounded-2xl;
		transition: all 0.25s;

		&:hover {
			box-shadow: $shadow-2xl;
		}

		.fa {
			color: $color-gray-dark;
		}
	}

	.prev-post{
		&:hover{
			background: linear-gradient(to right,$color-hover, $color-white);
		}
	}

	.next-post{
		&:hover{
			background: linear-gradient(to left,$color-hover, $color-white);
		}
	}

	.prev-post-thumb,.next-post-thumb {
		img {
			border-radius: $rounded-2xl;
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
