//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* related-entries ----------------------------------------------------- */
#related-entries {
	&.recb-entry-border {
		a {
			border: none;
			border-top: solid $color-gray-dark 1px;
			border-radius: 0;

			&:nth-last-child(1) {
				border-bottom: solid $color-gray-dark 1px;
			}
		}
	}

	.related-entry-heading {
		margin: 25px 0 25px 0;
		padding: 1rem 1.5rem;

		color: $color-white;
		background-color: $color-gray-dark;
		border-radius: $rounded-2xl;

		&:before {
			font-family: "FontAwesome";
			content: "\f064";
			opacity: 0.8;
		}
	}

	.related-entry-card-wrap {
		margin: 0;

		color: inherit;
		background-color: transparent;
		border-radius: $rounded-2xl;
		transition: all 0.25s;

		&:hover {
			background-color: $color-hover;
			box-shadow: $shadow-2xl;
		}

		.related-entry-card-thumb img {
			border-radius: $rounded-2xl;
		}
	}
}
