//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#sidebar,
#sidebar-menu-content {
	background-color: $color-main;
	border-radius: $rounded-2xl;
	box-shadow: $shadow-2xl;
	opacity: 0.9;

	h3 {
		position: relative;
		background-color: transparent;
		padding: 4px 4px 4px 2em;
		margin: 30px 0 20px;

		background-image: linear-gradient(to right, $color-green-midium 0%, transparent 70%);
		background-repeat: no-repeat;
		background-size: 100% 5%;
		background-position: bottom;
		color: $color-black;

		&:before {
			position: absolute;
			content: "";
			display: block;
			top: 47%;
			transform: translateY(-50%);
			left: 0.3em;
			width: 21px;
			height: 21px;
			background-color: $color-green-midium;
			border-radius: 50%;
		}
	}

	.widget_recent_entries,
	.widget_categories,
	.widget_archive,
	.widget_pages,
	.widget_meta,
	.widget_rss,
	.widget_nav_menu,
	.widget_new_entries,
	.widget_popular_entries,
	.widget_navi_entries,
	.widget_related_entries,
	.widget_tag_cloud {
		ul {
			li {
				border-bottom: 2px dotted $color-green-midium;

				a {
					position: relative;
					padding-left: 1.3em;

					border-radius: 4px;

					&:before {
						font-family: "FontAwesome";
						content: "\f138";
						position: absolute;
						font-size: 1em;
						left: 0;
						top: 10px;
						color: $color-green-midium;
					}

					&:hover {
						background-color: $color-hover;
						transition: all 0.25s;
					}
				}
			}
		}
	}
}

#slide-in-sidebar{
	background-color: transparent;
	opacity: 0.9;

}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
