//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#submit,#comment-reply-btn {
	color: $color-white;
	background-color: $color-gray-dark;
	border-radius: $rounded-2xl;
	border: none;
	transition: all 0.25s;

	&:hover,
	&:focus {
		background-color: $color-green-dark;
		outline: none;
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
