//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------
.tag-link {
  color: $color-black;
  background-color: $color-white;
  border-radius: $rounded-2xl;
  transition: all 0.25s;

  &:hover {
    background-color: $color-hover;
  }
}

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------


/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
