//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
#toc,
.toc {
	margin: 0;
	width: 100%;
	padding: 0;
	border-color: $color-gray-dark;
	border-radius: 4px;

	.toc-title {
		padding: 0;
		background-color: $color-gray-dark;
		color: $color-white;

		&::after {
			color: $color-white;
			text-decoration: none;
		}
	}

	.toc-content {
		padding: 1em;
		transition: all 0.2s;

		.toc-list {
			margin: 0 1em;

			li {
				margin: 0;

				a {
					&:hover {
						color: $color-gray-dark;
						text-decoration: underline;
					}

					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
