//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* widget/widget_calendar ---------------------------------------------- */
#wp-calendar,
#slide-in-wp-calendar {
	caption {
		color: $color-white;
		border-color: $color-green-dark;
		background-color: $color-gray-dark;
	}

	thead {
		tr {
			th {
				color: $color-white;
				border-color: $color-green-dark;
				background-color: $color-gray-dark;
			}
		}
	}

	tbody {
		tr {
			td {
				color: inherit;
				border-color: $color-green-dark;

				a {
					transition: all 0.25s;
				}
			}
		}
	}

	tfoot {
		display: none;
	}
}
