//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.widget_calendar {
	#wp-calendar {
		caption {
			color: $color-white;
			border-color: $color-green-dark;
			background-color: $color-gray-dark;
		}

		thead {
			tr {
				th {
					color: $color-white;
					border-color: $color-green-dark;
					background-color: $color-gray-dark;
				}
			}
		}

		tbody {
			tr {
				td {
					color: $color-black;
					border-color: $color-green-dark;
					background-color: $color-gray-light;

					a {
						border-radius: 0;
						background-color: $color-gray-light;
						color: $color-black;
					}

					&#today,
					&#today a {
						background-color: $color-gray-dark;
						color: $color-white;
					}
				}
			}
		}

		tfoot {
			display: none;
		}
	}
}
