//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.widget_search {
	.search-edit {
		background-color: transparent;
		border-width: 0 0 2px 0;
		border-radius: 0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 2px solid $color-gray-dark;
		transition: all 0.25s;

		&:focus,
		&:hover {
			background-color: $color-hover;
			outline: none;
		}

		&:focus ~ .search-submit {
			color: $color-gray-dark;
		}
	}

	.search-submit {
		transition: all 0.25s;

		&:hover {
			color: $color-gray-dark;
		}
	}
}
