//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* widget/widget-title ------------------------------------------------- */
.widget-title {
	.rss-widget-icon {
		display: none;
	}

	.rsswidget {
		color: $color-white;
		text-decoration: none;

		&:hover {
			background-color: $color-gray-dark;
		}
	}
}
