//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.widget_related_entries {
	.widget-related-entry-card-link {
		&::after {
			border-top: solid g.$color-gray-dark 2px;
			border-right: solid g.$color-gray-dark 2px;
		}
	}

	.border-partition {
		a {
			margin: 0;
			border-radius: 0;
			border-bottom: solid g.$color-gray-dark 1px;

			&:first-of-type {
				border-top: solid g.$color-gray-dark 1px;
			}
		}
	}

	.border-square {
		a {
			border: solid g.$color-gray-dark 1px;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
