//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* widget/widget_sns_follow_buttons ------------------------------------ */
.widget_sns_follow_buttons {
	.sns-follow {
		.feedly-button {
			&:hover {
				background-color: #2bb24c;
				opacity: 0.7;
			}
		}

		.rss-button {
			&:hover {
				background-color: #f26522;
				opacity: 0.7;
			}
		}
	}
}
