//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.widget_navi_entries {
	.navi-entry-card-link {
		&::after {
			border-top: solid $color-gray-dark 2px;
			border-right: solid $color-gray-dark 2px;
		}
	}

	.border-partition {
		a {
			margin: 0;
			border-radius: 0;
			border-bottom: solid $color-gray-dark 1px;

			&:first-of-type {
				border-top: solid $color-gray-dark 1px;
			}
		}
	}

	.border-square {
		a {
			border: solid $color-gray-dark 1px;
		}
	}

	.card-large-image {
		a {
			&:hover {
				background-color: transparent;
			}
		}
	}
}

/************************************************************************/
/*  END OF FILE                                       									*/
/************************************************************************/
