//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-variable/variable" as *;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.widget-entry-cards {
	.a-wrap {
		border: none;
		color: inherit;
		border-radius: $rounded-lg;
		margin-bottom: 1em;
		transition: all 0.25s;

		&:hover {
			background-color: $color-hover;
			box-shadow: $shadow-2xl;
		}
	}
}

.widget-entry-card-thumb img {
	border-radius: $rounded-lg;
	background-size: cover;
	max-height: 170px;
}
