//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.widget_recent_comments {
	.recent-comments {
		.recent-comment-content {
			border: solid g.$color-gray-dark 1px;

			&::before,
			&::after {
				border-bottom-color: g.$color-gray-dark;
			}
		}

		a {
			&:hover {
				background-color: g.$color-white;
			}
		}
	}
}
