//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* widget/widget_toc --------------------------------------------------- */
.widget_toc {
	.toc-content {
		li {
			a {
				&:hover {
					transition: all 0.25s;
					color: g.$color-gray-dark;
					text-decoration: none;
				}
			}
		}
	}
}
