//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------
@use "../../01-global/global" as g;

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
.wp-block-search {
	display: flex;
	flex-direction: row;

	input {
		width: auto;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: solid g.$color-gray-dark 2px;

		&:focus {
			background-color: g.$color-hover;
			transition: all 0.25s;
		}
	}

	button {
		display: inline-block;
		padding: 1em 2em;
		background-color: g.$color-gray-dark;
		border: none;
		color: g.$color-white;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
}
