//----------------------------------------------------------------------
//  文字エンコーディング宣言
//----------------------------------------------------------------------
@charset "utf-8";

//----------------------------------------------------------------------
//  インポート宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  変数宣言
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  mixin記述
//----------------------------------------------------------------------

//----------------------------------------------------------------------
//  Sass記述
//----------------------------------------------------------------------
/* wp-block/wp-block-tag-cloud ----------------------------------------- */
.wp-block-tag-cloud {
	a {
		text-decoration: none;
		border-radius: 4px;
		color: $color-black;

		&:hover {
			background-color: $color-hover;
			transition: all 0.25s;
		}

		.fa-tag {
			color: $color-gray-dark;
		}
	}
}
